@{
    ViewBag.Title = "AboutMe";
}

<p>
  <h2><strong>Education</strong></h2> 
    <ul>
        <li>SeedPaths - Denver, CO - 2014
           <p>
            8-week software & professional development boot camp<br />
            Fundamentals of C#, SQL, CSS, HTML, Javascript, JQuery
            </p>
        </li>	
        <li>
            Master of Computer Applications - India - 2001
            <p>
                COBOL, C, C++, Software Engineering<br />
                Principles of Programming Languages,
                Systems Analysis and Design
            </p>
        </li>
        <li>
            Bachelor of Science in Electronics - India - 1998
            <p>
                Electronics, Mathematics, Physics
            </p>
        </li>
    </ul>
</p>

<h2><strong>Experiance</strong></h2> 

<div class="Ciber">
       <p>
           <strong> Ciber </strong>- Pittsburgh, PA - Oct. 2012 – Feb. 2014 <br />
           Client:<strong> Direct Energy </strong><br />
           Role: <strong>QA Analyst</strong>
       </p>

        <ul>
            <li> Built SQL queries for back-end testing </li>
            <li>Worked with automation team for regression test scripts generation using C#</li>
            <li>Performed unit testing and whole testing life cycle in development and QA environments</li>
            <li>Coordinated with multiple team members, including business analysts, developers to meet company deadlines on internal projects </li>
            <li>Worked as an onsite coordinator and provided KT sessions and guidance to off shore team.</li>
            
        </ul>
        
        <p>
           <strong> CompUGroup </strong>- Pittsburgh, PA - July. 2012 – Aug. 2014 <br />
           Client:<strong> PNC Healthcare </strong><br />
           Role: <strong>QA Analyst</strong>
        </p>
        
        <ul>
            <li>Tested templates and output files to ensure Explanation of Benefit data was captured and stored accurately and efficiently</li>
            <li>Coordinated with developers to reproduce bugs and tracked them to closure</li>
        </ul>
</div>

