@{
    ViewBag.Title = "BattleShip";
}

<h2 style="text-align: center">Battle Ship</h2>

<p class="BattleShipMain">
                    <img src="~/Content/themes/base/images/BattleShip1.png" style="margin-left: 600px; max-height: 300px; max-width:400px" />
    </p>
<div class="BattleShipSummery">
    <strong>Summery</strong><br />
    <ul>
        <li>
        Places ships <em>randomly</em> in the ocean 
        </li>
        <li>
        Asks for coordinates until it gets the correct ones.
        </li>
        <li>
            Has exception handling for null input
        </li>
        <li>
            User can skip the introduction
        </li>
        <li>
        Has 3 classes: Point, Ship and Grid 
        </li>
        <li>
        Has an enumerable for Ship types
        </li>
        
    </ul>    


<p> Click <a href="https://github.com/jayachunduri/BattleShip/raw/master/BattleShip/BattleShip/obj/Debug/BattleShip.exe">Here </a>to download exe file and play the game</p>
<p> Click <a href="https://github.com/jayachunduri/BattleShip/tree/master/BattleShip/BattleShip"> Here</a> to view code on Github</p>

</div>