@model Portfolio.Models.ContactForm

@{
    ViewBag.Title = "Guess That Number";
}

<h2 style="text-align:center">Guess That Number</h2>

<p class="GuessThatNumberMain">
                    <img src="~/Content/themes/base/images/GuessThatNumber1.png" style="margin-left: 600px; max-height: 300px; max-width:400px" />
    </p>
<div class="GuessThatNumberSummery">
    <strong>Summery</strong><br />
    <ul>
        <li>
            Has exception handling for null input
        </li>
        <li>
            User can skip the introduction
        </li>
        <li>
            It will tell if user's choice is too high or too low.
        </li>
        
    </ul>    


<p> Click <a href="https://github.com/jayachunduri/GuessThatNumberPF/raw/master/GuessThatNumberFinalFinal/obj/Debug/GuessThatNumberFinalFinal.exe">Here </a>to download exe file and play the game</p>
<p> Click <a href="https://github.com/jayachunduri/GuessThatNumberPF/blob/master/GuessThatNumberFinalFinal/Program.cs"> Here</a> to view code on Github</p>

</div>