@{
    ViewBag.Title = "The Waking Dead";
}
<div class="container">
    <div class="workpage">
        <h2 class="worktitle">The Walking Dead</h2>
        <br />
        <div class="workimg"><img src="http://i.imgur.com/5kcCM2E.png" /></div>
        <br />
        <a href="https://github.com/anthonymjones/DragonCombatSimulatorV2/blob/master/DragonCombatSimulatorV2/DragonCombatSimulatorV2/bin/Debug/DragonCombatSimulatorV2.exe?raw=true">Click here to download and play the game!</a>
        <br />
    </div>
    <div class="workpagecontent">
        <h2 class="worktitle">Description</h2>
        <br />
        <p>This is where all the details and stuff I did to make this project goes</p>
        <br />
        <h2 class="worktitle">Challenges</h2>
        <br />
        <p>This is where all the challenges I faced while working on the project go</p>
    </div>

    <div class="worklink"><a href="@Url.Action("Index", "Work")"><h3>Go back to the Work page</h3></a></div>

</div>