@{
    ViewBag.Title = "Home";
}



<!doctype html>
<html>
    <head>
        <title>Home</title>
        
    </head>
    <body>
            <div class="wrapper">
            <div class="ContainerImage">
                @*<img src="http://tinyurl.com/if-suhbg" width="80%" height="10%" />*@
                <img src="http://www.sunsoftsolution.org/images/content/post_soft.jpg" width="90%" height="10%" />
            </div>
            
            <div class="Container">
            <div class="ContainerAboutMe">
                <h2 style="color: #8C4646"><em>Interests</em></h2>
                <ul>
                <li>Coding</li>
                <li>Sky Watching</li>
                <li>Painting</li>
                <li>Melodious Music</li>
                </ul>
            </div>

            <div class="ContainerWork">
                <h2 style="color: #8C4646"><em>Technologies</em></h2>
                <ul>
                <li>C#, Visual Studio</li>
                <li>SQL, PL/SQL</li>
                <li>JQuery, CSS, Javascript, HTML</li>
                <li>QC, TFS</li>
                </ul>
            </div>

            <div class="ContainerContact">
                <h2 style="color: #8C4646"><em>Details</em></h2>
                <ul>
                <li>Denver, CO</li>
                <li>jaya.chunduri@gmail.com</li>
                <li><a href="https://github.com/jayachunduri">Github</a></li>
                <li><a href="https://www.linkedin.com/pub/jaya-chunduri/52/ba4/8a0">LinkedIn</a></li>
                </ul>
            </div>
        </div>
        </div>
    </body>
</html>
