@{
    ViewBag.Title = "AboutMe";
}

<div style="text-align:center">
    <a href="https://www.linkedin.com/pub/jaya-chunduri/52/ba4/8a0">
<img class="AboutImage" src="~/Content/themes/base/images/Jaya2.png" />
        </a>
    <h6>click on picture for the resume</h6>
</div>

<div class="AboutPage">
    <div class="AboutEducation">
  <h2><strong>Education</strong></h2> 
    <ul>
        <li>SeedPaths - Denver, CO - 2014<br />
            Fundamentals of C#, SQL, CSS, HTML, Javascript, JQuery<br />
            
        </li>     
        <li>Master of Computer Applications - India - 2001<br />
        COBOL, C, C++, Software Engineering<br />
                
        </li>
        <li>Bachelor of Science in Electronics - India - 1998<br />
            Electronics, Mathematics, Physics
        </li>
    </ul>
    </div>

    <div class="AboutExperiance">
    <h2><strong>Experiance</strong></h2> 
    <ul>
       <li>
           Ciber - Pittsburgh, PA - Oct. 2012 – Feb. 2014 <br />
           Client:Direct Energy<br />
           Role:QA Analyst
        </li>
        <li>                 
           CompUGroup - Pittsburgh, PA - July. 2012 – Aug. 2012 <br />
           Client: PNC Healthcare<br />
           Role: QA Analyst
        </li>
      </ul>
        </div>
</div>
