@model Portfolio.Models.ContactForm

@{
    ViewBag.Title = "Hangman";
}

<h2 style="text-align:center">Hangman</h2>

<p class="HangmanMain">
                    <img src="~/Content/themes/base/images/Hangman1.png" style="margin-left: 600px; max-height: 300px; max-width:400px" />
    </p>
<div class="HangmanSummery">
    <h2 style="margin-bottom: 0px; color: #8C4646">Summary</h2><br />
    <ul>
        <li>
            Randomly picks a word from a list of words
        </li>
        <li>
            User doesn't lose a life if he/she enters same letter twice
        </li>
        <li>
            User can enter a letter or whole world
        </li>
        <li>
            Has exception handling for null input
        </li>
        <li>
            User can skip the introduction
        </li>
        
    </ul>    


<p> Click <a href="https://github.com/jayachunduri/Hang_Man/raw/master/Hang_Man/Hang_Man/obj/Debug/Hang_Man.exe">Here </a>to download exe file and play the game</p>
<p> Click <a href="https://github.com/jayachunduri/Hang_Man/blob/master/Hang_Man/Hang_Man/Program.cs"> Here</a> to view code on Github</p>


</div>